<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.slavedao.TestMapper">
    <select id="getAll" resultType="TestTable">
        SELECT id, name
        FROM test
    </select>
    <select id="selectById" resultType="TestTable">
        SELECT id, testname
        FROM test
    </select>
</mapper>