<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div id="root">
    <input v-model="username" placeholder="username" autofocus/>
    <input v-model="password" placeholder="password"/>
    <button @click="login">登录</button>
    <button @click="logout">注销</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
    var vm = new Vue({
        el: '#root',
        data () {
            return {
                username:'',
                password:''
            }
        },
        methods: {
            login: function() {
                var param  = {username: this.username, password: this.password}
                axios.post('/auth/login', param).then(function(resp) {
                    if(resp.status === 200) {
                        var redirectUrl = ''
                        if(window.location.search) {
                            var arr = window.location.search.substr(1).split("&");
                            for(var i in arr) {
                                var item = arr[i];
                                var kv = arr[i].split('=');
                                if(kv[0] === 'redirectUrl') {
                                    redirectUrl = decodeURIComponent(kv[1]);
                                    break;
                                }
                            }
                        }
                        if(redirectUrl) {
                            window.location = redirectUrl;
                        } else {
                            alert('没有重定向地址');
                        }
                    } else {
                        alert(resp.data)
                    }
                }).catch(function(err) {
                    if(err.response.status === 406) {
                        alert(err.response.data.msg)
                    }
                });
            },
            logout: function() {
                axios.get('/logout').then(function(resp) {
                    if(resp.status === 200) {
                        alert(resp.data)
                    }
                })
            }
        },
        mounted: function () {

        }
    })
</script>
</body>
</html>