<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.mvc.dao.DownloadTaskDao">
    <!-- 获取 -->
    <insert id="insert">
        INSERT INTO DownloadTask(<include refid="field"></include>)
        VALUES(#{id, jdbcType=VARCHAR}, #{createdBy, jdbcType=VARCHAR}, #{createdName, jdbcType=VARCHAR},
        #{createdDate, jdbcType=TIMESTAMP}, #{updatedDate, jdbcType=TIMESTAMP}, #{fileUrl, jdbcType=VARCHAR},
        #{fileName, jdbcType=VARCHAR}, #{progress, jdbcType=INTEGER}, #{status, jdbcType=INTEGER},
        #{message, jdbcType=VARCHAR}, #{stackTrace, jdbcType=VARCHAR})
    </insert>
    <select id="get" resultType="com.zjy.mvc.po.DownloadTask">
        SELECT
        <include refid="fieldWithPrefix">
            <property name="tableName" value="DownloadTask"/>
        </include>
        FROM DownloadTask
        WHERE id = #{id, jdbcType = VARCHAR}
    </select>
    <update id="update">
        update DownloadTask
        <set>
            <if test='createdBy != null and createdBy != ""'>
                createdBy = #{createdBy, jdbcType=VARCHAR},
            </if>
            <if test='createdName != null and createdName != ""'>
                createdName = #{createdName, jdbcType=VARCHAR},
            </if>
            <if test='createdDate != null'>
                createdDate = #{createdDate, jdbcType=TIMESTAMP},
            </if>
            <if test='updatedDate != null'>
                updatedDate = #{updatedDate, jdbcType=TIMESTAMP},
            </if>
            <if test='fileUrl != null and fileUrl != ""'>
                fileUrl = #{fileUrl, jdbcType=INTEGER},
            </if>
            <if test='fileName != null and fileName != ""'>
                fileName = #{fileName, jdbcType=VARCHAR},
            </if>
            <if test='progress != null'>
                progress = #{progress, jdbcType=INTEGER},
            </if>
            <if test='status != null'>
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test='message != null and message != ""'>
                message = #{message, jdbcType=VARCHAR},
            </if>
            <if test='stackTrace != null and stackTrace != ""'>
                stackTrace = #{stackTrace, jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id, jdbcType=VARCHAR}
    </update>
    <select id="queryList" resultType="com.zjy.mvc.po.DownloadTask">
        SELECT
        <include refid="fieldWithPrefix">
            <property name="tableName" value="DownloadTask"/>
        </include>
        FROM DownloadTask
    </select>
    <sql id="field">
        id, createdBy, createdName, createdDate, updatedDate, fileUrl, fileName, progress,
        status, message, stackTrace
    </sql>
    <!-- 带前缀的字段 -->
    <sql id="fieldWithPrefix">
        ${tableName}.id, ${tableName}.createdBy, ${tableName}.createdName, ${tableName}.createdDate,
        ${tableName}.updatedDate, ${tableName}.fileUrl, ${tableName}.fileName, ${tableName}.progress,
        ${tableName}.status, ${tableName}.message, ${tableName}.stackTrace
    </sql>
</mapper>