<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.mvc.dao.TestDownloadRecordDao">
    <insert id="insert">
        INSERT INTO TestDownloadRecord(<include refid="field"></include>)
        VALUES(#{userId, jdbcType=VARCHAR}, #{userCode, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR})
    </insert>
    <!-- 获取 -->
    <select id="get" resultType="com.zjy.mvc.po.TestDownloadRecord">
        SELECT
        <include refid="fieldWithPrefix">
            <property name="tableName" value="TestDownloadRecord"/>
        </include>
        FROM TestDownloadRecord
        WHERE UserId = #{id, jdbcType = VARCHAR}
    </select>
    <select id="queryList" resultType="com.zjy.mvc.po.TestDownloadRecord">
        SELECT
        <include refid="fieldWithPrefix">
            <property name="tableName" value="TestDownloadRecord"/>
        </include>
        FROM TestDownloadRecord
    </select>
    <sql id="field">
        userId, userCode, userName
    </sql>
    <!-- 带前缀的字段 -->
    <sql id="fieldWithPrefix">
        ${tableName}.userId, ${tableName}.userCode, ${tableName}.userName
    </sql>
</mapper>