<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.mvc.dao.UserInfoDao">
    <!-- 获取 -->
    <select id="get" resultType="com.zjy.mvc.po.UserInfo">
        SELECT
        <include refid="fieldWithPrefix">
            <property name="tableName" value="UserInfo"/>
        </include>
        FROM UserInfo
        WHERE UserId = #{id, jdbcType = VARCHAR}
    </select>
    <select id="getList" resultType="com.zjy.mvc.po.UserInfo">
        SELECT
        <include refid="fieldWithPrefix">
            <property name="tableName" value="UserInfo"/>
        </include>
        FROM UserInfo
        WHERE UserId = #{id, jdbcType = VARCHAR}
    </select>
    <!-- 带前缀的字段 -->
    <sql id="fieldWithPrefix">
        ${tableName}.UserId, ${tableName}.UserCode, ${tableName}.UserName, ${tableName}.Sex,
        ${tableName}.Birthday, ${tableName}.isSystem, ${tableName}.isDisabled, ${tableName}.createdBy, ${tableName}.createdOn,
        ${tableName}.modifiedBy, ${tableName}.modifiedOn
    </sql>
</mapper>